@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");

.edit-movie-page {
    padding: 20px;
    text-align: center;
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Gochi Hand', cursive;
}

.edit-movie-page h1 {
    margin-bottom: 20px;
    font-size: 32px;
    color: #bb86fc;
    font-family: 'Gochi Hand', cursive;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: left; 
}
