@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");

.star-rating {
    display: flex;
    gap: 5px;
}

.star-rating span {
    font-size: 24px;
    cursor: pointer;
    color: #666;
    transition: color 0.3s;
}

.star-rating span:hover,
.star-rating span.active {
    color: #ffcc00;
}
