@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");

.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px auto;
    padding: 0 20px;
    width: 100%;
    max-width: 1200px;
}



.movie-list .movie-item {
    flex: 1 1 calc(100% - 40px); 
    max-width: calc(100% - 40px); 
}

@media (min-width: 480px) {
    .movie-list .movie-item {
        flex: 1 1 calc(50% - 40px); 
        max-width: calc(50% - 40px); 
    }
}

@media (min-width: 768px) {
    .movie-list .movie-item {
        flex: 1 1 calc(33.333% - 40px); 
        max-width: calc(33.333% - 40px); 
    }
}

@media (min-width: 1024px) {
    .movie-list .movie-item {
        flex: 1 1 calc(25% - 40px); 
        max-width: calc(25% - 40px); 
    }
}
